.aboutSection {
  margin-top: 70px;
  display: flex;
  gap: 40px;
}
.aboutSection .aboutLeft {
  flex-basis: 40%;
  position: relative;
}
.aboutSection .aboutLeft .imgSection img {
  width: 100%;
  border-radius: 15px;
}
.aboutSection .aboutLeft .playIcon img {
  width: 15%;
  position: absolute;
  top: 50%;
  left: 43%;
  cursor: pointer;
}
.aboutSection .aboutRight {
  flex-basis: 54%;
  padding-top: 15px;
}
.aboutSection .aboutRight .aboutTitle h3,
.aboutHeading h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary_color);
  font-family: var(--font_family);
}
.aboutSection .aboutRight .aboutHeading h2 {
  font-size: 35px;
  max-width: 400px;
  font-weight: 600;
  color: var(--heading_color);
  margin: 10px 0;
}
.aboutSection .aboutRight .aboutDesc p {
  font-size: 16px;
  color: var(--text_color);
  margin: 20px 0;
  font-family: var(--font_family);
}

/* media query */

@media (max-width: 1200px) {
  .aboutSection .aboutLeft .playIcon img {
    top: 30%;
  }
}

@media (max-width: 768px) {
  .aboutSection {
    margin-top: 40px;
    gap: 10px;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .aboutSection .aboutLeft .playIcon img {
    top: 50%;
  }
}
@media (max-width: 576px) {
  .aboutSection .aboutRight .aboutHeading h2 {
    font-size: 25px;
  }
}
